
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide {
    display: none;
}

.cargame {
    width: 100%;
    height: 100vh;
    background-image: url('download.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.car {
    width: 50px;
height: 70px;
background:url('car.png') ;
background-color: red;
bottom: 0;
position: absolute;
right: 200px;
z-index: 999999;
}

.lines {
    width: 10px;
    height: 100px;
    background-color: blue;
    position: absolute;
    margin-left: 250px;
}

.gameArea {
    width: 500px;
    height: 100vh;
    background-color: #808e9b;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.lines {
    position: absolute;
}

.enemy {
    width: 50px;
    height: 70px;
    background-color: red;
    bottom: 0;
    position: absolute;
    right: 200px;
    z-index: 999;
}

.score {

    position: absolute;
    top: 15px;
    left: 50px;
    text-align: center;
    padding-top: 23px;
    font-size: 30px;
    line-height: 20px;
    background-color: rgba(10, 144, 253, 0.952);
    color: white;
    width: 300px;
    height: 100px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
}

.startScreen {

    position: absolute;
    background-color: rgba(8, 108, 155, 0.952);
    color: white;
    z-index: 5000000000000000;
    margin-top: 210px;
    margin-left: 360px;
    text-align: center;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    font-size: 30px;
    width: 50%;
    height: 200px;
    cursor: pointer;
    border-radius: 23px;
}
